/*! custom.css

additional css to be included after bootstrap for taxi project webpage
*/

body { padding-top: 30px; }

.navbar-default {
    background-color: #ebf5ff;
}

/* 
.marker {
    margin-top: -23px;
    margin-left: 243px;
    font-size: 30px;
    position: absolute;
}
 */

/* 
.nopadding {
   padding-right: -30px;
}
 */