<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Search</title>
    </head>
    <body>
        <h1>Play</h1>
        <form action="/play" method="post">
            <input type="text" placeholder="Play a song by 7digital_ID" name="user_play" required"/><!---->

            <button type="submit">Play</button>
        </form>

        <audio src="http://previews.7digital.com/clip/896746?oauth_signature=z2fP3WDzuaViLVjkbXvComqAVDk%3D&oauth_consumer_key=7drussrakh7t&oauth_signature_method=HMAC-SHA1&oauth_nonce=23830119&oauth_timestamp=1411091596" controls="controls">
            Your browser does not support the audio element.
        </audio>


    </body>
</html>
